# Flutter/Dart/Pub
.idea/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins
.flutter-versions
build/
ios/Pods/
.flutter-plugins
flutter_voice_recorder/.dart_tool/
flutter_voice_recorder/build/
**/generated_plugin_registrant.*

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.aider*
