<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>
        <service
            android:name=".RecorderService"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <receiver
            android:name=".ScheduleRecorderReceiver"
            android:exported="false" />
    </application>
</manifest>
